<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>TimetableIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="card-3d">
            <div>
                <div class="level">
                    <div class="level-left">
                        <h1 class="title">Admin Page</h1>
                    </div>
                    <div class="level-right">
                        <p><span sec:authentication="principal.username">Admin</span></p>
                        <p>&nbsp</p>
                        <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
                    </div>
                </div>
            </div>
            <br/>
            <h1 class="title is-4">Items</h1>
            <div class="columns">
                <div class="column">
                    <a class="button" th:href="@{/admin/lecturer}">
                        <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                             width="100px"/>
                        <p>Lecturers</p>
                    </a>
                </div>
                <div class="column">
                    <a class="button" th:href="@{/admin/batch}">
                        <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                             width="100px"/>
                        <p>Batches</p>
                    </a>
                </div>
                <div class="column">
                    <a class="button" th:href="@{/admin/module}">
                        <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                             width="100px"/>
                        <p>Modules</p>
                    </a>
                </div>
                <div class="column">
                    <a class="button" th:href="@{/admin/classroom}">
                        <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                             width="100px"/>
                        <p>Classrooms</p>
                    </a>
                </div>
            </div>

            <h1 class="title is-4">Timetables</h1>
            <div class="block">
                <a th:href="@{/lecturerTimetable}" class="button is-large is-fullwidth level-left">
                    <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                         width="100px"/>
                    <span>View Lecturer Timetable</span>
                </a>
            </div>
            <div class="block">
                <a th:href="@{/batchTimetable}" class="button is-large is-fullwidth level-left">
                    <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                         width="100px"/>
                    <span>View Batch Timetable</span>
                </a>
            </div>
            <div class="block">
                <a th:href="@{/classroomTimetable}" class="button is-large is-fullwidth level-left">
                    <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                         width="100px"/>
                    <span>View Classroom Timetable</span>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>