<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>TimetableIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="card-3d">

            <div>
                <div class="level">
                    <div class="level-left">
                        <h1 class="title">Lecturer Page</h1>
                    </div>
                    <div class="level-right">
                        <p><span sec:authentication="principal.username">Lecturer</span> | &nbsp</p>
                        <a th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="columns">
                <div class="column">
                    <div class="box" th:object="${user}">
                        <div class="columns">
                            <div class="column is-narrow">
                                <div class="" style="width: 75px;">
                                    <p class="title is-6">ID: </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="">
                                    <p class="subtitle is-6" th:text="${user.id}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-narrow">
                                <div class="" style="width: 75px;">
                                    <p class="title is-6">Email: </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="">
                                    <p class="subtitle is-6" th:text="${user.email}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-narrow">
                                <div class="" style="width: 75px;">
                                    <p class="title is-6">Name: </p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="">
                                    <p class="subtitle is-6" th:text="${user.name}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="button is-success" th:href="@{/admin/lecturer/update/{id}(id=${user.id})}">Edit</a>
                </div>

                <div class="column">
                    <h1 class="title is-4">Items</h1>
                    <div class="columns">
                        <div class="column">
                            <a class="button" th:href = "@{/lecturer/schedule/add}">
                                <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                                     width="100px"/>
                                <p>Create Lecture Schedule</p>
                            </a>
                        </div>
                        <div class="column">
                            <a class="button" th:href = "@{/lecturer/schedule}">
                                <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                                     width="100px"/>
                                <p>Your Timetable</p>
                            </a>
                        </div>

                    </div>

                    <h1 class="title is-4">Timetables</h1>
                    <div class="block">
                        <a th:href="@{/lecturerTimetable}" class="button is-large is-fullwidth level-left">
                            <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                                 width="100px"/>
                            <span>View Lecturer Timetable</span>
                        </a>
                    </div>
                    <div class="block">
                        <a th:href="@{/batchTimetable}" class="button is-large is-fullwidth level-left">
                            <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                                 width="100px"/>
                            <span>View Batch Timetable</span>
                        </a>
                    </div>
                    <div class="block">
                        <a th:href="@{/classroomTimetable}" class="button is-large is-fullwidth level-left">
                            <img alt="logo" src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                                 width="100px"/>
                            <span>View Classroom Timetable</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

