<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>TimetableIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<!--<body>-->
<!--<div>-->
<!--    <p>Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)</p>-->
<!--    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>-->
<!--</div>-->
<!--<h1>This is admin home page</h1>-->
<!--</body>-->
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="card-3d card-100-width">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-rounded is-text" th:href="@{/admin}" href="admin.html">
                            <ion-icon size="large" name="chevron-back-circle-outline"/>
                        </a>
                    </div>
                    <div class="level-item">
                        <h1 class="title">Items</h1>
                    </div>
                </div>
            </div>
            <div class="tabs is-boxed">
                <ul>
                    <li><a th:href="@{/admin/lecturerList}" href="lecturerList.html">Lecturers</a></li>
                    <li><a th:href="@{/admin/batchList}" href="moduleList.html">Batches</a></li>
                    <li class="is-active"><a>Modules</a></li>
                    <li><a th:href="@{/admin/classroomList}" href="classroomList.html">Classrooms</a></li>
                </ul>
            </div>

            <a class="button is-primary" th:href = "@{/showNewModuleForm}">Add Module</a>

            <br/>
            <br/>

            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th title="ID">ID</th>
                    <th title="Module Name">Batch Code</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="module : ${listModules}">
                    <td th:text="${module.id}"></td>
                    <td th:text="${module.moduleName}"></td>
                    <td>
                        <a class="button is-success" th:href="@{/showFormForUpdateModule/{id}(id=${module.id})}">Edit</a>
                        <a class="button is-danger" th:href="@{/deleteModule/{id}(id=${module.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal" id="addModal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add Lecturer</p>
                    <button class="delete" data-bulma-modal="close" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Batch Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Faculty</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option>Computing</option>
                                    <option>Business</option>
                                    <option>Law</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Semester</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Year</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <button
                            class="button is-block is-fullwidth is-primary is-medium is-rounded"
                            type="submit"
                            value="add"
                    >
                        Add
                    </button>
                    <!--                    </form th:action="${add} ? @{/contacts/add} : @{/contacts/{contactId}/edit(contactId=${contact.id})}-->
                    <!--                    ">-->
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success">Add</button>
                    <button class="button" data-bulma-modal="close">Cancel</button>
                </footer>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script>
    class BulmaModal {
        constructor(selector) {
            this.element = document.querySelector(selector)
            this.close_data()
        }

        show() {
            this.element.classList.toggle('is-active')
            this.on_show()
        }

        close() {
            this.element.classList.toggle('is-active')
            this.on_close()
        }

        close_data() {
            var modalClose = this.element.querySelectorAll("[data-bulma-modal='close'], .modal-background")
            var that = this
            modalClose.forEach(function (e) {
                e.addEventListener("click", function () {

                    that.element.classList.toggle('is-active')

                    var event = new Event('modal:close')

                    that.element.dispatchEvent(event);
                })
            })
        }

        on_show() {
            var event = new Event('modal:show')

            this.element.dispatchEvent(event);
        }

        on_close() {
            var event = new Event('modal:close')

            this.element.dispatchEvent(event);
        }

        addEventListener(event, callback) {
            this.element.addEventListener(event, callback)
        }
    }

    var button = document.querySelector("#addButton")
    var model = new BulmaModal("#addModal")

    button.addEventListener("click", function () {
        model.show()
    })

    model.addEventListener('modal:show', function () {
        console.log("opened")
    })

    model.addEventListener("modal:close", function () {
        console.log("closed")
    })
</script>
</body>
</html>

